<ul class="nav justify-content-end">
    <li class="nav-item-">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">CURRENT EXCHANGE </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/">Exchange</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/graph">Graph</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/tableCurren">Table</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/news">News</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
  </ul>