{% extends 'base_layout.html' %}


{% block body %}
<h1>NEWS</h1>



{%for x in new%}
<table class="table table-dark table-striped" id="myDIV">
     <tbody>
          <tr class="table-active">
               <td><h2 style="font-size: 30px;">Title: {{x['title']}} </h2></td>
          </tr>
          <tr class="table-active">
               <td>Author: <b>{{x['author']}}</td>
          </tr>
          <tr class="table-active">
               <td><img src="{{x['image']}}" width="500px" height="300"> </td>
          </tr>
          <tr class="table-active">
               <td>Description: <b>{{x['description']}}</td>
          </tr>
          <tr class="table-active">
               <td> Read More: <a href="{{x['url']}}">{{x['url']}}</td>
          </tr>
          
     </tbody>
</table>
{% endfor %}





{% endblock %}